/* Generell styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f9f9f9; /* Vit bakgrundsfärg */
    color: #333; /* Standardtextfärg */
}

h1, h3 {
    font-size: 24px;
    margin-top: 50px;
    text-align: center;
}
#loginForm{
    
    width: 60%;
    text-align: center;
    margin: 80px auto;
}
#welcomeText{
    text-align: center;
    font-size: 24px;
}
.menu-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu-category {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.menu-list {
    list-style: none;
    padding: 0;
}

/* Tabell för bokningar */
#bookingList {
    font-size: 20px;
    line-height: 2em;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #fff; /* Vit bakgrundsfärg för bokningstabellen */
}

#bookingList td, #bookingList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#bookingList th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #007bff; /* Blå rubrik för bokningstabellen */
    color: white;
}

/* Stil för formuläret */
#menuForm {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; /* Vit bakgrundsfärg för formuläret */
}

#menuForm label {
    display: block;
    margin-bottom: 5px;
}

#menuForm input, #menuForm select {
    width: calc(100% - 20px); /* Ändra bredden för att rymma padding */
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#menuForm button {
    width: calc(80% - 20); /* Ändra bredden för att rymma padding */
    padding: 10px;
    background-color: #007bff; /* Blå bakgrundsfärg för knappen */
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#menuForm button:hover {
    background-color: #0056b3; /* Mörkare blå vid hovring */
}

/* Media queries för responsiv design */
@media only screen and (min-width: 768px) {
    .menu-category {
        width: calc(33.33% - 20px); /* 33.33% bredd för varje kategori */
    }
}

@media only screen and (min-width: 992px) {
    .menu-category {
        width: calc(25% - 20px); /* 25% bredd för varje kategori */
    }
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Vit bakgrundsfärg för behållare */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Lätt skugga för behållare */
}

h1 {
    text-align: center;
    color: #007bff; /* Blå rubrikfärg */
}

.uppgift {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
button {
    width: calc(100% - 10px);
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff; /* Blå knappfärg */
    color: #fff; /* Vit knapptextfärg */
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Mörkare blå vid hovring */
}

/* Media queries för responsiv design */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 800px; /* Öka bredden på behållaren för större skärmar */
    }
}